extends layout

block content
  h1 Rzeczy dostępne do rezerwacji
  table.itemList(cellpadding="10", cellspacing="0", border="1")
    thead
      tr.listCell
        th Nazwa
        th Opis
        th Opiekun
        th Telefon opiekuna
        th Pokój opiekuna
        th 
    tbody
      each item in items
        tr.listCell
          td= item.NAME
          td= item.DESCRIPTION
          td= item.KEEPER_NAME
          td= item.KEEPER_PHONE_NUMBER
          td= item.KEEPER_ROOM
          td
            a.button(href=`/bookings/${item.ID}`) Sprawdź dostępne terminy
  br
  p W przypadku pozycji, które nie mają przypisanych opiekunów, prosimy o kontakt pod numerem telefonu 123 456 789. 

